
.DS_Store
/EMILESData/EMILESCombined.rds
/.idea/
.Rhistory
ListToConvertTo32.txt
test.bin.txt
MetadataOutput.json
fname.RData
testmodel.h5
__pycache__/XAVIER.cpython-38.pyc
tstimage.png
plot_accs.png
plot_losses.png
/resolucion_galceran
tstimage3.png
ReferenceLabel.fits
ReferenceInput.fits
Label_20220119T154253_Hr3TXx.fits
tstimage2.png
*.pyc
Input_20220119T154253_Hr3TXx.fits
/OutputFolder

Input_20220209T142129_fJnn24.fits
Label_20220209T142129_fJnn24.fits
time.rda
Test/*
KK/*
KK2/*
OutdatedCode - could be removed/*
HrPyPopData/HRPyPop.rds
TrainingData/Input_combined.fits
TrainingData/Label_combined.fits
TrainingData/MetaD_combined.rda
TrainedModels/*
DataGeneratedOutput/*
TrainingData/Input_combined_reduced_wavelength_reducido.fits
TrainingData/Input_combined_wave.fits
TrainingData/Label_combined_reduced_wavelength_reducido.fits
TrainingData/Label_combined_wave.fits
TrainingData/MetaD_combined_reduced_wavelength_reducido.rda
TrainingData/MetaD_combined_wave.rda
TrainingData/Old/Input_combined.fits
TrainingData/Old/Label_combined.fits
TrainingData/Old/MetaD_combined.rda
pylick-master/*
tmp_file.pd
tmp_file4.pd
tmp_file2.pd
tmp_file3.pd
tstimage_new.png
tempFolder/*
Provenance/Tests/Bundle1.png
Provenance/Tests/Bundle2.png
Provenance/Tests/collections.png
Provenance/Tests/datatypes.png
Provenance/Tests/Long literals.png
Provenance/Tests/Primer.png
Provenance/Tests/W3C Publication 1.png
Provenance/Tests/W3C Publication 2.png
EMILESData/EMILESCombined_reduced.rds
tempFolder_step_copy/*
tempFolder_step2_copy/*
tempFolder_step2/*
tempFolder_step/*
KK/*
KK2/*
my_test_lick_1.png
my_test_lick_0.png
TrainingData/Input_combined_wave2.fits
TrainingData/Input_combined_wave_steps.fits
TrainingData/Label_combined_wave_steps.fits
TrainingData/MetaD_combined_wave_steps.rda
pylick/
