
.DS_Store
/EMILESData/EMILESCombined.rds
/.idea/
.Rhistory
ListToConvertTo32.txt
test.bin.txt
MetadataOutput.json
fname.RData
/testmodel.h5
__pycache__/XAVIER.cpython-38.pyc
tstimage.png
plot_accs.png
plot_losses.png
/resolucion_galceran
tstimage3.png
ReferenceLabel.fits
ReferenceInput.fits
Label_20220119T154253_Hr3TXx.fits
tstimage2.png
*.pyc
Input_20220119T154253_Hr3TXx.fits
